<div class="main">
  <h1 class="subtitle">Repas chez Nico<br>
    Le 19 février 2023 midi</h1>
  <br>

  Ton prénom
  <input class="input-text" type="text" [formControl]="name" /><br /><br />

  Selectionne ci-dessous ce que tu aimerais pour le repas<br />

  <br />
  <span class="title">Boissons</span><br /><br />
  <div class="checkboxes">
    <div class="checkbox">
      <input type="checkbox" [formControl]="oasis" /><label>Oasis</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="coca" /><label>Coca</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="diaboloGrenadine" /><label>Diabolo grenadine</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="biereBlonde" /><label>Bière Blonde</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="biereAmbree" /><label>Bière Ambrée</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="biereTriple" /><label>Bière Triple</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="vinRouge" /><label>Vin Rouge</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="vinBlanc" /><label>Vin Blanc</label>
    </div>
    <div class="checkbox-column">
      <label>Idées de cocktails ?</label>
      <input class="input-text" [formControl]="cocktails" type="text" />
    </div>
    <div class="checkbox-column">
      <label>Suggestions libres</label>
      <input class="input-text" [formControl]="boissonsLibre" type="text" />
    </div>
  </div>

  <br />
  <span class="title">Apéritifs</span><br /><br />
  <div class="checkboxes">
    <div class="checkbox">
      <input type="checkbox" [formControl]="chips" /><label>Chips</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="curly" /><label>Curly</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="saucisson" /><label>Saucisson</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="houmousCrudites" /><label>Houmous, taztziki et crudités</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="wrapsSaumon" /><label>Wraps roulés au saumon fumé</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="blinisSaumon" /><label>Blinis au saumon</label>
    </div>
    <div class="checkbox-column">
      <label>Suggestions libres</label>
      <input class="input-text" [formControl]="aperosLibre" type="text" />
    </div>
  </div>

  <br />
  <span class="title">Repas</span><br /><br />
  Pas le choix, ça sera un Boeuf Bourguignon fait maison :)

  <br />
  <br />
  <span class="title">Desserts</span><br /><br />
  <div class="checkboxes">
    <div class="checkbox">
      <input type="checkbox" [formControl]="tarteFraises" /><label>Tarte aux fraises</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="brownie" /><label>Brownies</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="tiramisu" /><label>Ch'Tiramisu</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="tartePommes" /><label>Tarte aux pommes cannelle</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" [formControl]="glaceVanille" /><label>Glace Vanille Chantilly</label>
    </div>
    <div class="checkbox-column">
      <label>Suggestions libres</label>
      <input class="input-text" [formControl]="dessertsLibre" type="text" />
    </div>
  </div>
  <br />

  <a *ngIf="!alreadySend" (click)="sendForm()" class="button">Envoyer ta selection au chef :D</a>
  <div *ngIf="alreadySend" class="bloc">
    Et c'est parti ! Ta selection a été envoyée !
  </div>
  <br />
  <br />
  Merci et à très bientôt :)
  <br />
  <br />
  <div class="footer">Site réalisé à la main par <br>Nicolas Vasseur @2023</div>
</div>