.main {
  text-align: center;
  font-family: cuisineFont;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10%;
}

@media only screen and (min-width: 1000px) {
  .button {
    background-color: white;
  }

  .title {
    background-color: white;
  }
}

@media only screen and (max-width: 1000px) {
  .button {
    background-color: #a9e58e;
  }

  .title {
    background-color: #a9e58e;
  }
}

h1 {
  font-size: 32px;
}

.subtitle {
  width: 220px;
  margin: 0 auto;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  display: flex;
  flex-direction: row;
  width: 320px;
}

.checkbox-column {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.input-text {
  border-radius: 5px;
  width: 300px;
}

.button {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.bloc {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  margin: 0 auto;
}

.title {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

.footer {
  margin-bottom: 110px;
}