html {
  background-image: url(assets/cuisine.avif);
  background-position: center;
  background-size: auto 140%;
  background-position-y: -320px;
  background-position-x: -531px;
  background-repeat: repeat-y;
}

@media only screen and (max-width: 2300px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -0px;
  }
}

@media only screen and (max-width: 2100px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -40px;
  }
}

@media only screen and (max-width: 1900px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -100px;
  }
}

@media only screen and (max-width: 1700px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -180px;
  }
}

@media only screen and (max-width: 1500px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -260px;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -300px;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -360px;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -420px;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -480px;
  }
}

@media only screen and (max-width: 1023px) {
  html {
    background-size: auto 140%;
    background-position-y: -320px;
    background-position-x: -610px;
  }
}

@media only screen and (max-width: 426px) {
  html {
    background-position-y: -380px;
    background-position-x: -900px;
  }
}

body {
  margin: 0px;
}

@font-face {
  font-family: cuisineFont;
  src: url(assets/DeliCake.ttf);
}