@media only screen and (max-width: 1000px) {
  html {
    background: url(assets/cooking.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    background: url(assets/cuisine.avif) repeat center center;
    background-position: center;
    background-size: auto 109%;
    background-position-y: -150px;
  }
}

body {
  margin: 0px;
}

@font-face {
  font-family: cuisineFont;
  src: url(assets/DeliCake.ttf);
}