html {
  background-image: url(assets/cuisine.avif);
  background-position: center;
  background-size: auto 140%;
  background-position-y: -250px;
  background-repeat: repeat-y;
}

body {
  margin: 0px;
}

@font-face {
  font-family: cuisineFont;
  src: url(assets/DeliCake.ttf);
}
